__pycache__/
.ipynb_checkpoints
.idea
data/*
/src/whisper_at_train/esc-50/exp/
src/whisper_at_train/esc-50/wandb/
*.pt
src/whisper_at_train/finetune/checkpoint/
src/whisper_at_train/finetune/wandb/
src/whisper_at_train/dataset/
src/whisper_at_train/finetune/pretrained_model/
core.*
# Virtual environment
bin/
lib/
Scripts/
include/
.env/
venv/
.env